---
layout: default
title: About
permalink: /about/
---
<div id="about-page">

  {% include banner.html %}
  {% include about-trailer.html %}

  <!-- about-mid -->
  <div class="about-mid">
    <div class="mid-info">
      <h3 class="subheading-wthree white-clr">Courses</h3>
      <p class="paragraph-agileinfo white-clr">
        Introduction to Full Stack Web Developement
      </p>
      <ul>
        <li><span class="fa fa-asterisk" aria-hidden="true"></span>Front End - HTML, CSS, JavaScript</li>
        <li><span class="fa fa-asterisk" aria-hidden="true"></span>Back End - Ruby, Ruby on Rails</li>
        <li><span class="fa fa-asterisk" aria-hidden="true"></span>Deployment - Automation, Capistrano Tool</li>
      </ul>
      <a href="/courses">Find out more</a>
    </div>
    <div class="mid-info">
      <h3 class="subheading-wthree white-clr">Trainers</h3>
      <p class="paragraph-agileinfo white-clr">
        Learn through the Industry-Experienced Trainers
      </p>
      <ul>
        <li><span class="fa fa-asterisk" aria-hidden="true"></span>Pragmatic Approach</li>
        <li><span class="fa fa-asterisk" aria-hidden="true"></span>Pair Programming</li>
        <li><span class="fa fa-asterisk" aria-hidden="true"></span>Fun and Cool Environment</li>
      </ul>
      <a href="/trainers">Meet our Trainers</a>
    </div>
    <div class="mid-info">
      <h3 class="subheading-wthree white-clr">Admission process</h3>
      <p class="paragraph-agileinfo white-clr">
        Admission process is simple with following few pre-requisites a
        student should possess.
      </p>
      <ul>
        <li><span class="fa fa-asterisk" aria-hidden="true"></span>Basic Programming Concepts</li>
        <li><span class="fa fa-asterisk" aria-hidden="true"></span>Passion to Learn and Groom</li>
        <li><span class="fa fa-asterisk" aria-hidden="true"></span>Open for Suggestions and Ideas</li>
      </ul>
      <a href="/enroll">Get enrolled</a>
    </div>
  </div>
  <!--// about-mid -->
</div>
