---
layout: default
title: Trainings
permalink: /trainings/
---

<div id="pageTop">
  <div class="training-banner">
    <div class="container">
      <!-- banner-text -->
      <div class="banner-text">
        <div class="callbacks_container">
          <div class="slider-info">
            <h3>$ Student | GbrG Academy => Skilled Student</h3>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  
  {% include elevator-pitch.html text="Career Focussed Workshops" %}

  <div class="container">
    <div class="training-list row">
      {% include workshop-outline.html 
                  %}
    </div>
  </div>
</div>
