<div class="about-section" id="about">
  <div class="container">
    <h5 class="main-w3l-title">About</h5>
    <div class="about-top">
      <h3 class="subheading-wthree">Something About Academy</h3>
      <p class="paragraph-agileinfo">
        <b>GbrG Academy</b> is or will be going to spread Education which has been acquired completely out of real world experiences apart from the 
        <i>Bookish</i> knowledge. The approach of teaching will be based mostly around <i>Cognitive Learning</i> and <i>Feedback Driven Learning</i>.
      </p>
    </div>
    <div class="about-main">
      <div class="about-w3-left">
        <div class="about-img">
        </div>
        <div class="about-bottom">
          <p class="paragraph-agileinfo white-clr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis
            tristique est, et egestas odio. Mauris ac tristique.</p>
        </div>
      </div>

      <div class="about-w3ls-right">
        <h3 class="subheading-wthree">Welcome to our Academy</h3>
        <p class="paragraph-agileinfo">
          We offer group programs only and hope to change your life which would ultimately
          help chaning your career!
        </p>
        <ul>
          <li><span class="fa fa-check-square-o" aria-hidden="true"></span>Realize Your Best Skills</li>
          <li><span class="fa fa-check-square-o" aria-hidden="true"></span>Learn Interactive Courses Online</li>
          <li><span class="fa fa-check-square-o" aria-hidden="true"></span>Get Trained by Skilled Trainers</li>
          <li><span class="fa fa-check-square-o" aria-hidden="true"></span>Student Guidance</li>
          <li><span class="fa fa-check-square-o" aria-hidden="true"></span>Learn or Get Taught With Fun</li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
