<div class="about-section" id="about">
  <div class="container">
    <h5 class="main-w3l-title">About</h5>
    
    <div class="row">
      <div class="col-md-8 col-sm-12 about-content px-4 mb-2">
        <p>
          <span class="text-lg-left">GbrG Academy</span> is or will be going to spread Education which has been acquired completely out of real world
          experiences apart from the
          <i>Bookish</i> knowledge. The approach of teaching will be based mostly around <i>Cognitive Learning</i> and <i>Feedback
            Driven Learning</i>.
        </p>
        <br>
        <p>
          We offer training programs that we hope to change your life which would ultimately
          help changing your career!
        </p>

        <ul class="offering">
          <li><span class="fas fa-check-square" aria-hidden="true"></span>Realize Your Best Skills</li>
          <li><span class="fas fa-check-square" aria-hidden="true"></span>Learn Interactive Courses Online</li>
          <li><span class="fas fa-check-square" aria-hidden="true"></span>Get Trained from Skilled Trainers</li>
          <li><span class="fas fa-check-square" aria-hidden="true"></span>Student Guidance</li>
          <li><span class="fas fa-check-square" aria-hidden="true"></span>Learn or Teach With Fun</li>
        </ul>
      </div>

      <div class="col-md-4 col-sm-12 founder-section px-4">
        <img src="{{ site.baseurl }}/assets/images/brg_pic.png" alt="Founder Pic" class="founder-pic" />
        <button type="button" class="btn btn-dark btn-sm rounded-0">BRG, Founder of GbrG Academy</button>
      </div>
    </div>

    <div class="row my-3 p-3">
      <div class="col-md-6 vision text-center mb-2">
        <h4><i class="fas fa-eye"></i></h4>
        <h3 class="heading">Vision</h3>
        <p class="caption">
          We guide you to acquire the appropriate Knowledge through proper training which 
          will enable you to choose Right Career in your Life.
        </p>
      </div>
      <div class="col-md-6 mission text-center">
        <h4><i class="fas fa-crosshairs"></i></h4>
        <h3 class="heading">Mission</h3>
        <p class="caption">
          We would like to redefine and revolutionize the learning approach and help in 
          bridging the gap between academics and industry.
        </p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
