<div class="about-section" id="about">
  <div class="container">
    <h5 class="main-w3l-title">About Us</h5>
    <div class="about-top">
      <h3 class="subheading-wthree">Something About Us</h3>
      <p class="paragraph-agileinfo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis tristique
        est, et egestas odio. Mauris ac tristique
        arcu, sed interdum risus.Integer quis tristique est, et egestas odio. Mauris ac tristique arcu, sed interdum
        risus.
      </p>
    </div>
    <div class="about-main">
      <div class="about-w3-left">
        <div class="about-img">
        </div>
        <div class="about-bottom">
          <p class="paragraph-agileinfo white-clr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis
            tristique est, et egestas odio. Mauris ac tristique.</p>
        </div>
      </div>

      <div class="about-w3ls-right">
        <h3 class="subheading-wthree">Welcome to our Institute</h3>
        <p class="paragraph-agileinfo">We offer great variety of individual and group programs. Our clients' and our
          experience proves that the following courses
          can literally change your life!</p>
        <ul>
          <li><span class="fa fa-check-square-o" aria-hidden="true"></span>See our best skills</li>
          <li><span class="fa fa-check-square-o" aria-hidden="true"></span>Learn courses online</li>
          <li><span class="fa fa-check-square-o" aria-hidden="true"></span>Best trainers</li>
          <li><span class="fa fa-check-square-o" aria-hidden="true"></span>Student Guidance</li>
          <li><span class="fa fa-check-square-o" aria-hidden="true"></span>Learn With Fun</li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
