<div class="banner" id="home">
  <div class="container">
    <!-- banner-text -->
    <div class="banner-text">
      <div class="callbacks_container">
        <ul class="rslides" id="slider3">
          <li>
            <div class="slider-info">
              <h3>It is never too late to Study</h3>
              <p>Education Needs Complete Solution</p>
              <a href="about.html">About Us</a>
            </div>
          </li>
          <li>

            <div class="slider-info">
              <h3>The best learning institute</h3>
              <p>Successful career starts with good training</p>
              <a href="about.html">About Us</a>
            </div>
          </li>

        </ul>

      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
