<div class="banner" id="home">
  <div class="container">
    <!-- banner-text -->
    <div class="banner-text">
      <div class="callbacks_container">
        <ul class="rslides" id="slider3">
          <li>
            <div class="slider-info">
              <h3>Attitude | Discipline | Determination | Approach</h3>
              <p>Successful Solution need Basic Qualities</p>
            </div>
          </li>
          <li>
            <div class="slider-info">
              <h3>Acquire Knowledge to get Hired</h3>
              <p>Quality training improves in good way</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
