<div class="banner" id="pageTop">
  <div class="container">
    <!-- banner-text -->
    <div class="banner-text">
      <div class="callbacks_container">
        <ul class="rslides" id="slider3">
          <li>
            <div class="slider-info">
              <h3>Bridging the Gap that Exists!</h3>
              <p>Incomplete Understanding creates a Gap over time</p>
            </div>
          </li>
          <li>
            <div class="slider-info">
              <h3>Attitude | Discipline | </h3>
              <h3>Determination | Approach</h3>
              <p>Successful Solution needs Basic Qualities First</p>
            </div>
          </li>
          <li>
            <div class="slider-info">
              <h3>Acquire Knowledge to</h3>
              <h3>Choose Right Career</h3>
              <p>Quality Training Makes Difference</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
