<div class="row mb-2">
  <div class="col-md-6 mb-1">
    <div class="col-sm-12 mt-2">
      <h4>I am a College Kid.</h4>
      <p class="mt-3">
        I am studying in a College, University or an Educational Institute. 
        I aspire to work in a reputed Company.
        <br>
        For that I will Study hard and do Hard Work so that I could gain enough
        Knowledge which will help me to grow as well as the organization I will
        be in.
      </p>
    </div>
  </div>
  <div class="col-md-6 intro-img">
    <img src="{{ site.url }}/assets/images/collegekids.jpg" alt="Front End" class="shadow-lg"/>
  </div>
</div>

<div class="row mb-2">
  {% include elevator-pitch.html text="My Biggest Concern is to get placed in a Good Company." class="bg-blue pitch-small" %}

  <div class="col-md-12 text-center mt-4">
    <h2 class="righteous-cursive">Got Few Tips from Your Video</h2>
    <div class="row mt-4">
      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9 mt-2 bg-shadow-lg">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LDG6tU3OstY?rel=0"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-6">
        <ul class="tips-list">
          <li><i class="fas fa-check-square" aria-hidden="true"></i><span>Get Technical Basics Clear</span></li>
          <li><i class="fas fa-check-square" aria-hidden="true"></i><span>Have Concise Resume</span></li>
          <li><i class="fas fa-check-square" aria-hidden="true"></i><span>Write What I am Best At</span></li>
          <li><i class="fas fa-check-square" aria-hidden="true"></i><span>Be Honest</span></li>
          <li><i class="fas fa-check-square" aria-hidden="true"></i><span>Be Confident</span></li>
          <li><i class="fas fa-check-square" aria-hidden="true"></i><span>Make Rejection as Step to Success</span></li>
          <li><i class="fas fa-check-square" aria-hidden="true"></i><span>Make a habbit Of
            <ul class="sub-tips-list">
              <li><i class="fas fa-check-square" aria-hidden="true"></i>Listen</li>
              <li><i class="fas fa-check-square" aria-hidden="true"></i>Analyze</li>
              <li><i class="fas fa-check-square" aria-hidden="true"></i>Act & Practice</li>
              <li><i class="fas fa-check-square" aria-hidden="true"></i>Repeat Above</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <h2 class="righteous-cursive mt-4">My Preparation Workflow</h2>
    <div class="row mt-4">

    </div>
  </div>
</div>
