<div class="row mb-2">
  <div class="col-md-6 mb-1">
    <div class="col-sm-12 mt-2">
      <h4>Are you an <i>Aspiring</i> College Kid ?</h4>
      <p class="mt-3">
        You fall into this category, if you are studying in a College, University or an Educational Institute and
        <span class="text-bg-highlight">aspire the goal of working in a reputed Company.</span>
        <br><br>
        To achieve your goal, you intend to Study hard and do Hard Work so that you could gain enough
        Knowledge which will help you to grow personally as well as the organization you will
        be in.
      </p>
    </div>
  </div>
  <div class="col-md-6 intro-img">
    <img src="{{ site.url }}/assets/images/collegekids.jpg" alt="Front End" class="shadow-lg"/>
  </div>
</div>

<div class="row mb-2">
  {% include elevator-pitch.html text="Your Biggest Concern is to get placed in a Good Company." class="bg-blue pitch-small" %}

  <div class="col-md-12 text-center p-0 mt-4">
    <h2 class="righteous-cursive">Few Pro Tips from Us</h2>
    <div class="row mt-4">
      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9 mt-2 bg-shadow-lg">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LDG6tU3OstY?rel=0"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-6">
        <ul class="tips-list">
          <li><i class="fas fa-check-square" aria-hidden="true"></i><span>Get Technical Basics Clear</span></li>
          <li><i class="fas fa-check-square" aria-hidden="true"></i><span>Have Concise Resume</span></li>
          <li><i class="fas fa-check-square" aria-hidden="true"></i><span>Write What I am Best At</span></li>
          <li><i class="fas fa-check-square" aria-hidden="true"></i><span>Be Honest</span></li>
          <li><i class="fas fa-check-square" aria-hidden="true"></i><span>Be Confident</span></li>
          <li><i class="fas fa-check-square" aria-hidden="true"></i><span>Make Rejection as Step to Success</span></li>
          <li><i class="fas fa-check-square" aria-hidden="true"></i><span>Make a habbit Of
            <ul class="sub-tips-list">
              <li><i class="fas fa-check-square" aria-hidden="true"></i>Listen</li>
              <li><i class="fas fa-check-square" aria-hidden="true"></i>Analyze</li>
              <li><i class="fas fa-check-square" aria-hidden="true"></i>Act & Practice</li>
              <li><i class="fas fa-check-square" aria-hidden="true"></i>Repeat Above</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <h2 class="righteous-cursive mt-4">Preparation Checklist</h2>
    <div id="pledge" class="row mt-4">
      <div class="accordion" id="preparationWorkflow">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <i class="fas fa-cubes"></i> &nbsp; Aptitude Test
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#preparationWorkflow">
            <div class="card-body">
              <span class="text-bg-highlight">
              An Aptitude test is used to determine a candidate's ability/potential to succeed in a certain task, with no prior
              knowledge or training.
              </span>
              These tests are frequently used as part of a pre-employment assessment.
              <br><br>
              You should also know that Employer use aptitude tests to help themself making the right hiring decision.
              <br><br>
              The best thing about aptitude test is that they are also a great way of improving your 
              thought processing and memory skills.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                <i class="fas fa-laptop-code"></i> &nbsp; Technical Expertise
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#preparationWorkflow">
            <div class="card-body">
              <h4>Programming Skills</h4>
              <p>
                <span class="text-bg-highlight">
                  Appropriate Programming Skills are required so that you could help in the growth of Organization and 
                  feel proud doing so.
                </span>
                <br>
                You must get your <i>technical basics</i> clear as it will help you to <i>understand</i> the technical aspect of
                Organization's projects.
              </p>
              <h4 class="mt-2">Academic Project</h4>
              <p>
                You should try to do all of your academics project <i>honestly</i> with little help from here and there. 
                These projects are just a preparation to get fimilar with 
                <i>"How a technical project works?"</i> and <i>Employers</i> mostly ask during interview to know your
                contributions toward these projects.
                <br><br>
                Hence, if you do these projects yourself, you could explain your contributions well to anyone.
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
                <i class="fas fa-american-sign-language-interpreting"></i> &nbsp; Soft Skill
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#preparationWorkflow">
            <div class="card-body">
              <span class="text-bg-highlight">
                To excel in your career you should possess good 
                <a href="https://en.wikipedia.org/wiki/Soft_skills" target="_blank">Soft Skills</a> like 
                Communication skills, People skills etc. 
              </span> 
              Employer check such skills to see if You could be able to fit in their Organization or not or 
              whether You could prove to be a good team player or not.
              <br><br>
              And, the best way to improve these soft skills is to inculcate & practice among your
              friends and family.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
