<div class="row mb-2">
  <div class="col-md-6 mb-1">
    <div class="col-sm-12 qns-box">
      <h4>What is Back End?</h4>
      <p>
        It refers to the work that happens in the
        <a href="https://en.wikipedia.org/wiki/Data_access_layer" target="_blank">Data Access layer</a> of a piece
        of Software.
      </p>
    </div>
    <div class="col-sm-12">
      <h4>What is Back End Web Developement?</h4>
      <p>
        It refers to the portion of the Web Application which is not visible to users and ensures everything on the 
        client-side actually works.
        Making updates and changes in addition to monitoring functionality of the site will be your primary responsibility. 
        It usually consists of three parts; a server, an application, and a database. 
      </p>
    </div>
  </div>
  <div class="col-md-6 intro-img shadow-lg">
    <img src="{{ site.url }}/assets/images/back-end.jpg" alt="Front End" />
  </div>
</div>
<div class="row mb-2">
  {% include elevator-pitch.html text="Technologies" class="bg-blue pitch-small" %}
</div>
<div class="row">
  <div class="col-sm-4 text-center">
    <a href="https://en.wikipedia.org/wiki/Ruby_(programming_language)" target="_blank">
      <img src="{{ site.url }}/assets/icons/ruby.png">
    </a>
    <p>
      Ruby
    </p>
    <ul class="course-content-box">
      <li><i class="fas fa-check-circle"></i><span>Introduction</span></li>
      <li><i class="fas fa-check-circle"></i><span>What, Whom, Where, When, Why & How</span></li>
      <li><i class="fas fa-check-circle"></i><span>Language Basics</span></li>
      <li><i class="fas fa-check-circle"></i><span>Block & Method</span></li>
      <li><i class="fas fa-check-circle"></i><span>Array, Range, Symbol & Hash</span></li>
      <li><i class="fas fa-check-circle"></i><span>Read/Write Files</span></li>
      <li><i class="fas fa-check-circle"></i><span>Regular Expression</span></li>
      <li><i class="fas fa-check-circle"></i><span>Class & Ojbect</span></li>
      <li><i class="fas fa-check-circle"></i><span>Inheritance</span></li>
      <li><i class="fas fa-check-circle"></i><span>Duck Typing</span></li>
      <li><i class="fas fa-check-circle"></i><span>Module or Mixins</span></li>
      <li><i class="fas fa-check-circle"></i><span>Exceptions</span></li>
      <li><i class="fas fa-check-circle"></i><span>Metaprogramming Intro</span></li>
    </ul>
  </div>
  <div class="col-sm-4 text-center">
    <a href="https://en.wikipedia.org/wiki/Ruby_on_Rails" target="_blank">
      <img src="{{ site.url }}/assets/icons/ror.png" alt="Ruby on Rails" />
    </a>
    <p>
      Ruby on Rails (RoR)
    </p>
    <ul class="course-content-box">
      <li><i class="fas fa-check-circle"></i><span>Introduction</span></li>
      <li><i class="fas fa-check-circle"></i><span>What, Whom, Where, When, Why & How</span></li>
      <li><i class="fas fa-check-circle"></i><span>RoR App Folder Structure</span></li>
      <li><i class="fas fa-check-circle"></i><span>MVC Architecture & Monolith</span></li>
      <li><i class="fas fa-check-circle"></i><span>Views In-Depth</span></li>
      <li><i class="fas fa-check-circle"></i><span>Models In-Depth</span></li>
      <li><i class="fas fa-check-circle"></i><span>Controllers In-Depth</span></li>
      <li><i class="fas fa-check-circle"></i><span>Database Basics & its Communication</span></li>
      <li><i class="fas fa-check-circle"></i><span>Relationships & Associations</span></li>
      <li><i class="fas fa-check-circle"></i><span>Create, Read, Update & Delete(CRUD)</span></li>
      <li><i class="fas fa-check-circle"></i><span>Using CSS Framework</span></li>
      <li><i class="fas fa-check-circle"></i><span>Basic and Devise Authentication</span></li>
      <li><i class="fas fa-check-circle"></i><span>Environments</span></li>
    </ul>
  </div>
  <div class="col-sm-4 text-center">
    <a href="https://en.wikipedia.org/wiki/MySQL" target="_blank">
      <img src="{{ site.url }}/assets/icons/mysql.png" alt="MySQL" />
    </a>
    <p>
      MySQL
    </p>
    <ul class="course-content-box">
      <li><i class="fas fa-check-circle"></i><span>Introduction</span></li>
      <li><i class="fas fa-check-circle"></i><span>What, Whom, Where, When, Why & How</span></li>
      <li><i class="fas fa-check-circle"></i><span>Data Types & Storage</span></li>
      <li><i class="fas fa-check-circle"></i><span>Primary & Foreign Keys</span></li>
      <li><i class="fas fa-check-circle"></i><span>SQL Statements</span></li>
      <li><i class="fas fa-check-circle"></i><span>Joins Basics</span></li>
      <li><i class="fas fa-check-circle"></i><span>Table & Attributes</span></li>
      <li><i class="fas fa-check-circle"></i><span>Insert, Update & Delete</span></li>
      <li><i class="fas fa-check-circle"></i><span>Relationships & Associations</span></li>
      <li><i class="fas fa-check-circle"></i><span>Connection with Ruby on Rails</span></li>
      <li><i class="fas fa-check-circle"></i><span>Accessing DB from Rails Console</span></li>
      <li><i class="fas fa-check-circle"></i><span>DB Seeds</span></li>
      <li><i class="fas fa-check-circle"></i><span>Environments</span></li>
    </ul>
  </div>
</div>
