<div class="row mb-2">
  <div class="col-md-6">
    <div class="col-sm-12 qns-box">
      <h4>What is DevOps?</h4>
      <p>
        a combination of software development (Dev) and information technology operations (Ops). DevOps is a 
        set of software development practices that aim to shorten the systems development life cycle while 
        delivering features, fixes, and updates frequently in close alignment with business objectives.
      </p>
    </div>
    <div class="col-sm-12">
      <h4>What is the need for DevOps?</h4>
      <div class="col-md-12">
        <ul class="qns-box-list">
          <li><i class="fas fa-check-circle"></i><span>Shorter Development Cycles, Faster Innovation</span></li>
          <li><i class="fas fa-check-circle"></i><span>Reduced Deployment Failures, Rollbacks, and Time to Recover</span></li>
          <li><i class="fas fa-check-circle"></i><span>Improved Communication and Collaboration</span></li>
          <li><i class="fas fa-check-circle"></i><span>Increased Efficiencies</span></li>
          <li><i class="fas fa-check-circle"></i><span>Reduced Costs and IT Headcount</span></li>
          <li><i class="fas fa-check-circle"></i><span>Read/Write Files</span></li>
          <li><i class="fas fa-check-circle"></i><span>Regular Expression</span></li>
          <li><i class="fas fa-check-circle"></i><span>Class & Ojbect</span></li>
          <li><i class="fas fa-check-circle"></i><span>Inheritance</span></li>
          <li><i class="fas fa-check-circle"></i><span>Duck Typing</span></li>
          <li><i class="fas fa-check-circle"></i><span>Module or Mixins</span></li>
          <li><i class="fas fa-check-circle"></i><span>Exceptions</span></li>
          <li><i class="fas fa-check-circle"></i><span>Metaprogramming Intro</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <img src="{{ site.url }}/assets/images/devops.jpg" alt="Front End" style="width: 100%;" />
  </div>
</div>
<div class="row technologies">
  <div class="col-sm-12 col-md-12 mb-2">
    {% include elevator-pitch.html text="Technologies" class="bg-blue pitch-small" %}
  </div>
  <div class="col-sm-12 col-md-12">
    <div class="col-md-6">
      <a href="https://github.com/mina-deploy/mina" target="_blank">
        <img src="{{ site.url }}/assets/icons/mina.png">
      </a>
      <p>
        Mina
      </p>
      <ul class="course-content-box">
        <li><i class="fas fa-check-circle"></i><span>Introduction</span></li>
        <li><i class="fas fa-check-circle"></i><span>What, Whom, Where, When, Why & How</span></li>
        <li><i class="fas fa-check-circle"></i><span>What is Deployment</span></li>
        <li><i class="fas fa-check-circle"></i><span>What is Rake</span></li>
        <li><i class="fas fa-check-circle"></i><span>Environments</span></li>
        <li><i class="fas fa-check-circle"></i><span>Configure Server</span></li>
        <li><i class="fas fa-check-circle"></i><span>Prepare Project</span></li>
        <li><i class="fas fa-check-circle"></i><span>Deoploy</span></li>
      </ul>
    </div>
  </div>
</div>
