<div class="row mb-2">
  <div class="col-md-6 mb-1">
    <div class="col-sm-12 qns-box">
      <h4>What is Front End?</h4>
      <p>
        It refers to the work that happens in the
        <a href="https://en.wikipedia.org/wiki/Presentation_layer" target="_blank">Presentation layer</a> of a piece
        of Software.
      </p>
    </div>
    <div class="col-sm-12">
      <h4>What is Front End Web Developement?</h4>
      <p>
        It is the practice of converting data to graphical interface for user to view and interact with data through
        digital
        interaction using HTML, CSS and JavaScript.
      </p>
    </div>
  </div>
  <div class="col-md-6 intro-img shadow-lg">
    <img src="{{ site.url }}/assets/images/front-end.jpg" alt="Front End" />
  </div>
</div>
<div class="row mb-2">
  {% include elevator-pitch.html text="Technologies" class="bg-blue pitch-small" %}
</div>
<div class="row">
  <div class="col-sm-4 text-center">
    <i class="fab fa-html5 fa-5x"></i>
    <p>
      HTML
    </p>
    <ul class="course-content-box">
      <li><i class="fas fa-check-circle"></i><span>Introduction</span></li>
      <li><i class="fas fa-check-circle"></i><span>What, Whom, Where, When, Why & How</span></li>
      <li><i class="fas fa-check-circle"></i><span>Page Structure</span></li>
      <li><i class="fas fa-check-circle"></i><span>Document Object Model (DOM)</span></li>
      <li><i class="fas fa-check-circle"></i><span>Elements & Attributes</span></li>
      <li><i class="fas fa-check-circle"></i><span>Meta Tags</span></li>
      <li><i class="fas fa-check-circle"></i><span>List & Links</span></li>
      <li><i class="fas fa-check-circle"></i><span>Block (div) & Inline (span)</span></li>
      <li><i class="fas fa-check-circle"></i><span>Reserved Characters & Symbols</span></li>
      <li><i class="fas fa-check-circle"></i><span>HTML5 Intro</span></li>
      <li><i class="fas fa-check-circle"></i><span>HTML5 New Elements</span></li>
      <li><i class="fas fa-check-circle"></i><span>HTML5 Semantics</span></li>
      <li><i class="fas fa-check-circle"></i><span>Video & YouTube Video</span></li>
    </ul>
  </div>
  <div class="col-sm-4 text-center">
    <i class="fab fa-css3 fa-5x"></i>
    <p>
      CSS
    </p>
    <ul class="course-content-box">
      <li><i class="fas fa-check-circle"></i><span>Introduction</span></li>
      <li><i class="fas fa-check-circle"></i><span>What, Whom, Where, When, Why & How</span></li>
      <li><i class="fas fa-check-circle"></i><span>Syntax</span></li>
      <li><i class="fas fa-check-circle"></i><span>Inline, Internal & External Sytle</span></li>
      <li><i class="fas fa-check-circle"></i><span>Selectors</span></li>
      <li><i class="fas fa-check-circle"></i><span>Height, Width, Border, Margin & Padding</span></li>
      <li><i class="fas fa-check-circle"></i><span>Box Model</span></li>
      <li><i class="fas fa-check-circle"></i><span>Text, Fonts & Icons</span></li>
      <li><i class="fas fa-check-circle"></i><span>Display, Position, Overflow & Align</span></li>
      <li><i class="fas fa-check-circle"></i><span>CSS Combinators</span></li>
      <li><i class="fas fa-check-circle"></i><span>Pseudo Class & Element</span></li>
      <li><i class="fas fa-check-circle"></i><span>Advanced CSS Basics</span></li>
      <li><i class="fas fa-check-circle"></i><span>Intro to SCSS</span></li>
    </ul>
  </div>
  <div class="col-sm-4 text-center">
    <i class="fab fa-js fa-5x"></i>
    <p>
      JavaScript
    </p>
    <ul class="course-content-box">
      <li><i class="fas fa-check-circle"></i><span>Introduction</span></li>
      <li><i class="fas fa-check-circle"></i><span>What, Whom, Where, When, Why & How</span></li>
      <li><i class="fas fa-check-circle"></i><span>Variable, Assignments & Operators</span></li>
      <li><i class="fas fa-check-circle"></i><span>Arithmatic & Data Types</span></li>
      <li><i class="fas fa-check-circle"></i><span>Functions, Objects & Events</span></li>
      <li><i class="fas fa-check-circle"></i><span>String, Number & Array</span></li>
      <li><i class="fas fa-check-circle"></i><span>Comparisons, Conditions & Loops</span></li>
      <li><i class="fas fa-check-circle"></i><span>Regular Expression</span></li>
      <li><i class="fas fa-check-circle"></i><span>Scope: Local & Global & Hoisting</span></li>
      <li><i class="fas fa-check-circle"></i><span>this, let and const</span></li>
      <li><i class="fas fa-check-circle"></i><span>JSON</span></li>
      <li><i class="fas fa-check-circle"></i><span>OOPS in JS</span></li>
      <li><i class="fas fa-check-circle"></i><span>ECMAScript Intro</span></li>
    </ul>
  </div>
</div>
