<footer> 
 <div class="footer-agileits-w3layouts">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a href="/">
            <img src="{{ site.baseurl }}/assets/images/logo.png" alt="GbrG Academy" />
          </a>
          <div class="social-icons-agileits">
            <ul>
              <li><a href="https://www.facebook.com/gbrgacademy"><span class="fab fa-facebook-f"></span></a></li>
              <li><a href="http://linkedin.com/company/gbrgacademy"><span class="fab fa-linkedin-in"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 mt-2">
          {% include subscribe-form.html %}
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="copyright-w3layouts">
    <div class="container">
      <p>&copy; 2019 GbrG Academy. All Rights Reserved</a></p>
    </div>
  </div>
</footer>
<!-- //Footer -->
