<div class="footer-agileits-w3layouts">
  <div class="container">
    <div class="btm-logo-w3ls">
      <a href="/">
        <img src="{{ site.baseurl }}/assets/images/logo.png" alt="GbrG Academy" />
      </a>
    </div>
    <!-- <div class="subscribe-w3ls">
      <h6>Let us inform you about everything important directly.</h6>
      <form action="#" method="post">
        <div class="col-md-8 col-sm-8 col-xs-8 input-flds-w3-agile">
          <input type="email" name="Email" placeholder="Email" required="">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 input-flds-w3-agile">
          <input type="submit" value="Subscribe">
        </div>
        <div class="clearfix"> </div>
      </form>
    </div> -->
    <div class="social-icons-agileits">
      <ul>
        <li><a href="https://www.facebook.com/gbrgacademy"><span class="fab fa-facebook-f"></span></a></li>
        <li><a href="http://linkedin.com/company/gbrgacademy"><span class="fab fa-linkedin-in"></span></a></li>
      </ul>
    </div>

    <div class="clearfix"> </div>
  </div>
</div>
<div class="copyright-w3layouts">
  <div class="container">
    <p>&copy; 2019 GbrG Academy. All Rights Reserved</a></p>
  </div>
</div>
<!-- //Footer -->

<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;">
  </span></a>
