<footer> 
  <div class="container">
    <div class="row social_contacts justify-content-center">
      {% for social_hash in site.social_contacts %}
        {% assign social  = social_hash[1] %}
        <div class="mr-2">
          <a href="{{ social.url }}" target="_blank" class="gray hint--top" data-hint="{{ social.label }}">
            <i class="{{ social.icon }}"></i>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</footer>
<p class="copyright text-center">&copy; 2019 GbrG Academy. All Rights Reserved</a></p>
<!-- //Footer -->
