<head>
  <title>{{ site.title }} - {{ page.title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {%- seo -%}

  <script type="application/x-javascript">
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  
  <link rel="stylesheet" href="{{ "/assets/css/bootstrap.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/font-awesome.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/flexslider.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/opensans.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">

  <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/images/favicon.png" />
</head>
