<script type="text/javascript" src="{{ "/assets/js/jquery-2.2.3.min.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/jquery.waypoints.min.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/jquery.countup.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/jquery.flexslider.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/responsiveslides.min.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/main.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/move-top.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/easing.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/bootstrap.min.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/custom.js" | relative_url }}"></script>
