<div class="container learning-ways py-4 my-4">
  <h5 class="main-w3l-title">Learn the Way You Like</h5>
  <div class="row">
    <div class="col-md-4 mb-2"> 
      <div class="card highlight-box bg-shadow-lg-light">
        <img src="{{ site.baseurl }}/assets/images/osi-symbol.png" alt="Open Source Way" />
        <div class="card-body text-center">
          <h5 class="card-title"><a href="http://gurucoool.org" target="_blank">Gurucoool.org</a></h5>
          <a href="http://gurucoool.org" target="_blank" class="btn btn-primary text-center mt-2">Coming Soon</a>
        </div>

        <a href="https://opensource.com/open-source-way" target="_blank" 
           role="button" class="btn btn-secondary rounded-0">Open Source Way</a>
        <button type="button" class="btn btn-danger rounded-0">Hard Way</a>
        <button type="button" class="btn btn-dark btn-sm rounded-0">Best for Working Individuals</button>
      </div>
      
    </div>
    <div class="col-md-4 mb-2">
      <div class="card highlight-box bg-shadow-lg-light">
        <img src="{{ site.baseurl }}/assets/images/online-learning.png" alt="Open Source Way" />
        <div class="card-body text-center">
          <h5 class="card-title">Gurucoool.com</h5>
          <a href="#" target="_blank" class="btn btn-primary text-center mt-2">Under Planning</a>
        </div>
        
        <button target="_blank" type="button" class="btn btn-secondary rounded-0">Online Interactive Way</button>
        <button type="button" class="btn btn-warning rounded-0">Good Way</a>
        <button type="button" class="btn btn-dark btn-sm rounded-0">Good for Working Individuals</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card classroom-learning highlight-box">
        <img src="{{ site.baseurl }}/assets/images/classroom.jpg" alt="Open Source Way" />
        <div class="card-body text-center">
          <h5 class="card-title">Classroom Training</h5>
          <a href="/contact" class="btn btn-primary text-center mt-2">Contact Us</a>
        </div>

        <button target="_blank" type="button" class="btn btn-secondary rounded-0">Offline Interactive Way</button>
        <button type="button" class="btn btn-success rounded-0">Easy Way</a>
        <button type="button" class="btn btn-dark btn-sm rounded-0">Best for Non-Working Individuals</button>
      </div>
    </div>
  </div>
</div>
