<div class="pricing-model-section">
  <div class="services-info bottom-services">
    <h3 class="subheading-wthree">Our Pricing Model</h3>
    <p class="paragraph-agileinfo">
      We offer variety of pricing plans and each one is subject to change as per the availability of
      trainers and number of students.
    </p>
    <div class="serv-inner1">
      <div class="serv-left">
        <h6>Learn the Hard Way</h6>
        <ul>
          <li>Course Material is Open Sourced</li>
          <li>Students learn by their own</li>
          <li>Less interaction with Trainers</li>
          <li>No Data is preserved</li>
        </ul>
      </div>
      <div class="serv-right">
        <h6>Learn the Interactive Way</h6>
        <ul>
          <li>Interactive Fun Based Courses</li>
          <li>Pair-Programming with trainers</li>
          <li>Student data is preserved</li>
          <li>Ideal for Working Professionals</li>
        </ul>
      </div>
    </div>
    <div class="serv-inner2">
      <div class="serv-left col-md-12">
        <h6>Learn the Easy Way</h6>
        <ul>
          <li>Instructor-Led classroom learning</li>
          <li>Student data is preserved</li>
          <li>Course material Hard Copy</li>
          <li>Fun based group sessions</li>
        </ul>
      </div>
      <div class="serv-right">
        <i class="fas fa-headphones-alt"></i>
        <i class="fas fa-info"></i>
        <i class="fab fa-leanpub"></i>
        <i class="fas fa-sync"></i>
        <i class="fab fa-whmcs"></i>
        <i class="fas fa-theater-masks"></i>
        <i class="fas fa-smile"></i>
        <h1>Get Ready for Fun!</h1>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="services-img2"></div>
  <div class="clearfix"> </div>
</div>
