<div class="services-section">
  <div class="services-grids">
    <div class="services-img1"></div>
    <div class="services-info top-services">
      <h3 class="subheading-wthree">Daily Life Of Coaching At Training Institute</h3>
      <p class="paragraph-agileinfo">We offer great variety of individual and group programs. Our clients' and our
        experience proves that the following courses</p>
      <ul>
        <li><span class="fa fa-check-square-o" aria-hidden="true"></span>Online Coaching</li>
        <li><span class="fa fa-check-square-o" aria-hidden="true"></span>1 to 1 Coaching</li>
        <li><span class="fa fa-check-square-o" aria-hidden="true"></span>Guidance Coaching</li>
        <li><span class="fa fa-check-square-o" aria-hidden="true"></span>Group Coaching</li>
      </ul>
      <div class="header-top">
        <h3 class="subheading-wthree white-clr">Let's Register Now</h3>
        <span>Get Enrolled & Start better future with us!</span>
        <ul class="form-buttons">
          <li><a href="#" data-toggle="modal" data-target="#myModal3"><i class="fa fa-pencil-square-o"
                aria-hidden="true"></i> Register</a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="services-grids">
    <div class="services-info bottom-services">
      <h3 class="subheading-wthree">Our Packages</h3>
      <p class="paragraph-agileinfo">Vestibulum convallis odio sagittis fermentum accumsan. Maecenas sagittis tortor ut
        nisl maximus, eu dictum dolor blanditEtiam.</p>
      <div class="serv-inner1">
        <div class="serv-left">
          <h6><span>$ 10 /Month</span>Starter</h6>
          <ul>
            <li>One Day Trial</li>
            <li>Limited Courses</li>
            <li>No Ebook</li>
            <li>Limited Registered User</li>
          </ul>
        </div>
        <div class="serv-right">
          <h6><span>$ 20 /Month</span>Basic</h6>
          <ul>
            <li>One Day Standard Access</li>
            <li>Limited Courses</li>
            <li>View Only Ebook</li>
            <li>Unlimited Registered User</li>
          </ul>
        </div>
      </div>
      <div class="serv-inner2">
        <div class="serv-left">
          <h6><span>$ 30 /Month</span>Premium</h6>
          <ul>
            <li>One Year Premium Access</li>
            <li>Unlimited Courses</li>
            <li>Free Ebook Downloads</li>
            <li>Unlimited Registered User</li>
          </ul>
        </div>
        <div class="serv-right">
          <h6><span>$ 40 /Month</span>Advance</h6>
          <ul>
            <li>Life Time Access</li>
            <li>Unlimited All Courses</li>
            <li>Free Ebook Downloads</li>
            <li>Unlimited Registered User</li>
          </ul>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="services-img2"></div>
    <div class="clearfix"> </div>
  </div>
</div>
