<div class="services-section">
  <div class="services-grids">
    <div class="services-img1"></div>
    <div class="services-info top-services">
      <h3 class="subheading-wthree">Services For</h3>
      <p class="paragraph-agileinfo">
        We offer great variety of training courses and workshops. However, we Believes mostly in 
        providing Classroom with Instructor-Led trainings as it will help trainers to understand
        and connect their students well and helps in getting best out of them.
        <br>
        If you believe in one or more of the following, then you have landed to the correct Academy.
      </p>
      <ul>
        <li><span class="fas fa-check-square" aria-hidden="true"></span>Online Interactive Learning</li>
        <li><span class="fas fa-check-square" aria-hidden="true"></span>Likes Pair-Programming</li>
        <li><span class="fas fa-check-square" aria-hidden="true"></span>Group learning and Coaching</li>
        <li><span class="fas fa-check-square" aria-hidden="true"></span>Open Source Way and its Culture</li>
        <li><span class="fas fa-check-square" aria-hidden="true"></span>Believes in Collaboration and Community</li>
      </ul>
    </div>
  </div>
</div>
