<div class="services-section">
  <div class="services-grids">
    <div class="services-img1"></div>
    <div class="services-info top-services">
      <h3 class="subheading-wthree">Services For</h3>
      <p class="paragraph-agileinfo">
        We offer great variety of training courses and workshops. However, we Believes mostly in 
        providing Classroom with Instructor-Led trainings as it will help trainers to understand
        and connect their students well and helps in getting best out of them.
        <br>
        If you believe in one or more of the following, then you have landed to the correct Academy.
      </p>
      <ul>
        <li><span class="fa fa-check-square-o" aria-hidden="true"></span>Online Interactive Learning</li>
        <li><span class="fa fa-check-square-o" aria-hidden="true"></span>Likes Pair-Programming</li>
        <li><span class="fa fa-check-square-o" aria-hidden="true"></span>Group learning and Coaching</li>
        <li><span class="fa fa-check-square-o" aria-hidden="true"></span>Open Source Way and its Culture</li>
        <li><span class="fa fa-check-square-o" aria-hidden="true"></span>Believes in Collaboration and Community</li>
      </ul>
    </div>
  </div>
  <div class="services-grids">
    <div class="services-info bottom-services">
      <h3 class="subheading-wthree">Our Pricing Model</h3>
      <p class="paragraph-agileinfo">
        We offer variety of pricing plans and each one is subject to change as per the availability of 
        trainers and number of students.
      </p>
      <div class="serv-inner1">
        <div class="serv-left">
          <h6>Learn the Hard Way</h6>
          <ul>
            <li>Course Material is Open Sourced</li>
            <li>Students learn by their own</li>
            <li>Less interaction with Trainers</li>
            <li>No Data is preserved</li>
          </ul>
        </div>
        <div class="serv-right">
          <h6>Learn the Interactive Way</h6>
          <ul>
            <li>Interactive Fun Based Courses</li>
            <li>Pair-Programming with trainers</li>
            <li>Student data is preserved</li>
            <li>Ideal for Working Professionals</li>
          </ul>
        </div>
      </div>
      <div class="serv-inner2 row">
        <div class="serv-left col-md-12">
          <h6>Learn the Easy Way</h6>
          <ul>
            <li>Instructor-Led classroom learning</li>
            <li>Student data is preserved</li>
            <li>Course material Hard Copy</li>
            <li>Fun based group sessions</li>
          </ul>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="services-img2"></div>
    <div class="clearfix"> </div>
  </div>
</div>
