<div class="stats">
  <div class="container">
    <h5 class="main-w3l-title white-clr">Reasons to Choose Us</h5>
    <div class="stats_inner">
      <div class="col-md-4 col-sm-4 stat-grids">
        <p class="counter">2,879</p>
        <div class="stats-text">
          <h3>Students Successive</h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 stat-grids">
        <p class="counter">953</p>
        <div class="stats-text">
          <h3>Courses</h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 stat-grids">
        <p class="counter">1,546</p>
        <div class="stats-text">
          <h3>Competitions Won</h3>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
