<div id="subscribe" class="{{ include.class_name }}">
  <div class="container">
    <form action="https://gbrgacademy.us20.list-manage.com/subscribe/post?u=f45e3e116e559f48e7ac74ac0&amp;id=e6aa059069"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="subscription-form validate"
      target="_blank" novalidate>
      <h3 class="mb-1 subscribe-header text-center">Inform Me With Latest Updates!</h3>
      <div class="row">
        <div class="col-md-4 mb-1">
          <input type="text" value="" name="FNAME" class="form-control" placeholder="Name (optional)..." id="mce-FNAME">
        </div>
        <div class="col-md-4 mb-1">
          <input type="email" value="" name="EMAIL" class="form-control required email" placeholder="Email ..." id="mce-EMAIL">
        </div>
        <div class="col-md-4">
          <input type="submit" value="Subscribe" name="subscribe" class="form-control button" />
        </div>
      </div>
    </form>  
  </div>
</div>

