<div class="card col-md-4">
  <img class="card-img-top" src="{{ site.url }}/assets/images/website.png" alt="Website Development">
  <div class="card-body">
    <h5 class="card-title border-bottom">Build Professional Website</h5>
    <div class="card-text mb-1">
      <h6>Workshop For</h6>
      <ul class="card-content-list mb-1">
        <li><i class="fas fa-star"></i><span>Students</span></li>
        <li><i class="fas fa-star"></i><span>Job Seekers</span></li>
        <li><i class="fas fa-star"></i><span>Hobbyist</span></li>
      </ul>
      <h5>Duration: <span class="badge badge-secondary">6 to 8 Hrs</span></h5>
    </div>
    <div class="text-center">
      <a href="https://github.com/gbrgacademy/workshop-build-pro-website" class="btn btn-primary btn-sm" target="_blank">View in Detail</a>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
