.asstudent-banner {
	background: url($baseurl + "/assets/images/path.jpg")no-repeat 0px 0px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	position: relative;
	height: 400px;
}

.tips-list {
	text-align: left;
	padding: 0 2em;
}
.tips-list li {
	list-style: none;
	font-size: 15px;
	letter-spacing: 1px;
	display: block;
	margin-top: 1em;
	color: #777;
	line-height: 10px;

	i {
		display: inline-block;
		padding-right: 10px;
		color: #00b6e3;
		font-size: 14px;
		font-weight: 600;
		float: left;
	}

	span {
		display: block;
		line-height: 1em;
	}

	.sub-tips-list {
		margin-left: 2em;
	}
}

.text-bg-highlight {
	font-size: 1.2em;
	font-weight: 600;
	color: $color2;
}

#preparationWorkflow .card-body, #internshipWorkflow .card-body {
	text-align: left;

	h4 {
		width: 100%;
	}
}

.quick-contact {
	text-align: center;
	background: $color1;
	color: white;
	width: 100%;
	padding: 1em;
	border-radius: 5px;

	h1 {
		font-family: "Open Sans", sens-serif1;
	}
}

#preparationWorkflow .card .card-header, #internshipWorkflow .card .card-header {
	padding: 0 1.25rem;

	button {
		font-size: 1.2em;
		color: $color6;
	}
}

.asstudent-section .students-category .nav-tabs {
	.nav-link {
		color: $color6;
	}
	.nav-link.active {
		font-weight: 600;
	}
}
