#blogs-page .blogs-page-body {
  padding: 1em 0;
}
.post-tags {
  font-size: 14px;
}
.blog-title {
  font-size: 22px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.27);
}
.categories ul li {
  font-size: 14px;
}
.categories ul li i {
  color: #e91e63;
}  
.categories ul li a {
  color: #555;
}
.events-grid-right h4 {
  line-height: 15px;
}
.events-grid-right h4 a {
  font-size: 14px;
  font-weight: 600;
  color: #555;
}
.blog_events_list li {
  display: inline-block;
  font-size: 12px;
}
ul.blog_events_list li i {
  color: #777;
}
.tags ul li {
  display: inline-block;
}
.tags ul li a.text-dark {
  padding: 5px 10px;
  margin: 0 5px 10px 0;
  display: block;
  letter-spacing: 1px;
  font-size: 15px;
}
.ul.blogs-social-icons li a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
}
.ul.blogs-social-icons li a i.fab {
  font-size: 18px;
  line-height: 41px;
  width: 42px;
  height: 42px;
  text-align: center;
  background-color: transparent;
}
.blog-card {
  box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78)
}
.blog-card-title a {
  font-size: 20px;
  color: #e91e63;
  font-weight: 400;
}
.blog-card-heading span {
  font-size: 12px;
  color: #000;
}
.blog-card-heading span i {
  font-size: 12px;
  color: #777;
}
.blog-card-text {
  font-size: 14px;
  line-height: 1.5;
  color: #999;
}
img.circular {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  padding-left: 0;
  border-radius: 100%;
  box-shadow: 0px 0px 30px #111;
  width: 100%;
}
img.centered {
  display: block;
  margin: 0 auto;
  box-shadow: 0px 0px 30px #111;
  padding: 0;
  width: 60%;
}
.post-info .opening-text {
  font-size: 18px;
  color: #111;
  font-style: italic;
}
.post-info {
  h1, h2, h3, h4, h5, h6 {
    margin: 2rem 0;
  }
  blockquote p {
    font-size: 1em;
    font-style: italic;
    padding: 0 2em;
  }
  blockquote .quote-bar {
    border-left: 4px solid #f06292;
    padding-left: 0.5em;
  }
  .breakline {
    border: 0.11em solid #f06292;
    width: 25%;
  }  
}
