@font-face {
  font-family: gameOfThrones;
  src: url($baseurl + "/assets/fonts/game-of-thrones.ttf");
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.slider-info h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  font-family: 'Righteous', cursive;
  line-height: 1.15em;
  font-family: 'Righteous', cursive;
}
.navbar {
  padding: 0 1rem;
}
.navbar.navbar-expand-lg {
  height: 60px;
}
.navbar .navbar-brand {
  height: inherit;
}
.navbar .navbar-brand img {
  height: 100%;
}
.navbar-nav {
  margin-left: 30%;
}
.mt-20em {
  margin-top: 20em;
}
.social-icons-agileits {
  margin-top: 1em;
}
.serv-inner1 .title {
  color: #111;
  font-weight: 600;
}
#about-page .banner, #trainers-page .banner, #blog-post-page .banner, #blogs-page .banner {
  min-height: 250px !important;
}
.team-section .trainer-area {
  padding: 1.5em;
  margin-bottom: 2em;
}
.team-section .trainer-area:nth-child(even) {
  background-color: ghostwhite;
}
.team-section .trainer-area:nth-child(odd) {
  background-color: whitesmoke;
}
.trainer-area .current-role {
  background: black;
  color: white;
  padding: 1em;
  text-align: left;
  width: 100%;
  margin: 0;
}
.trainer-area .trainer-pic {
  background: #e6e6e6;
  text-align: center;
  padding: 2em;
}
.mb-1 {
  margin-bottom: 1em;
}
.navbar-nav>li.active,
.navbar-default .navbar-nav>li:hover,
.navbar-default .navbar-nav>li:focus {
	background: #f06292;
	color: white !important;
}
.nav > li > a {
  padding: 10px;
}
.intro-img img {
  width: 100%;
  height: 100%;
}
.elevator-pitch {
  padding: 15px;
  background: #f06292;
  color: white;
  font-size: 25px;
  text-align: center;
  letter-spacing: 5px;
  margin: 0;
  font-family: gameOfThrones;
  font-weight: 700;
  width: 100%;
}
.bg-blue {
  background: #00b6e3;
}
.pitch-small {
  font-size: 22px;
}
.mb-1 {
  margin-bottom: 1em !important;
}
.mb-2 {
  margin-bottom: 2em !important;
}

.bg-shadow-lg-light {
  box-shadow: 2px 2px 28px 4px rgba(0,0,0,0.06);
}

.course-content-box .fa-check-circle, .qns-box-list .fa-check-circle,
.card .card-body .card-content-list .fa-star {
  float: left;
  color: #f06292;
  margin-top: 4px;
  font-size: 1em;
}
.course-content-box span, .qns-box-list span, .card .card-body .card-content-list span {
  display: block;
  margin-left: 1.5em;
}
#courses-devops .qns-box-list {
  border: none;
  padding-left: 0;
}
// Icons
.fab.fa-html5, .fab.fa-js {
  color: orange;
}
.fab.fa-css3 {
  color: skyblue;
}

// upcoming actions
.upcoming-actions {
  background: url($baseurl + "/assets/images/stats.jpg")no-repeat 0px 0px;
  padding: 4em 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
  background-attachment: fixed;
}
.upcoming-actions .caption {
  font-size: 2.5em;
  text-transform: capitalize;
  font-family: 'Righteous', cursive;
  text-align: left;
  margin-bottom: 0.6em;
  color: #fff;
  letter-spacing: 1px;
}
.upcoming-actions .announcement-text {
  font-size: 2em;
  text-transform: capitalize;
  text-align: left;
  margin-bottom: 0.6em;
  color: yellow;
}

.pricing-model-section {
  display: flex;
  justify-content: space-between;
}
.pricing-model-section .serv-right i {
  font-size: 30px;
  color: darkslategrey;
}

.slider-info h3 {
  font-family: gameOfThrones;
  font-weight: 600;
  font-size: 2.5em;
  letter-spacing: 5px;
  line-height: 60px;
}
.slider-info p {
  font-family: 'Righteous', cursive;
  font-size: 1.5em;
}
.training-banner .slider-info h3, .courses-banner .slider-info h3 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  background: rgba(0, 0, 0, 0.5);
  padding: 1em;
  text-align: center;
}

// Footer
footer .subscription-form {
  padding: 1em;
  background: white;
}
footer .subscription-form h3 {
  text-align: center;
  font-size: 1.5em;
  color: #444;
}
input[type="submit"] {
  border: none;
  color: #fff;
  margin-top: 0px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline;
  background: #f06292;
  border: 1px solid #f06292;
  cursor: pointer;
  outline: none;
  width: 40%;
  text-align: center;
  border-radius: 0px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  vertical-align: middle;
  font-family: 'Montserrat', sans-serif;
}

.featured-video {
  background: #f5f8fc;

  h5.main-w3l-title {
    margin-bottom: 0.4em;
  }
  h5.main-w3l-title, h3.subheading-wthree, .about-top {
    text-align: center;
  }
  .about-top {
    margin: 0;
  }
}

.learning-ways {
  .highlight-box {
    padding-top: 1em;
  }
  .highlight-box img {
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  .highlight-box.classroom-learning img {
    border-radius: 100%;
  }
  .highlight-box .recommended-for {
    width: 100%;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #757575;
    font-weight: 600;
    text-align: center;
    padding: 5px 0;
  }
}
