.courses-list {
  padding: 2em 0;
}
.courses-list .tab-content {
  padding: 1em;
  box-shadow: 1px 1px 4px #111;
}
.courses-list .nav-tabs img {
  height: 50px;
}
.courses-list .tab-content .row {
  margin: 0;
}
.courses-list .tab-content .qns-box {
  margin-bottom: 1.5em;
}
.courses-list .tab-content .col-md-6, .courses-list .tab-content .col-sm-12 {
  padding: 0;
}
.courses-banner {
	background: url($baseurl + "/assets/images/courses.jpg")no-repeat 0px 0px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	position: relative;
	height: 550px;
}
.courses-banner .slider-info h3 {
  font-weight: 600;
  text-align: center;
}
.course-content-box, .qns-box-list {
  border: 1px solid #C2BEC6;
  list-style: none;
  text-align: left;
  padding: 5px;
  font-size: 0.8em;
}
