#subscribe {
  background: $color1;
  padding: 1em;
  color: white;
  width: 100%;

  .subscribe-header {
    font-family: 'Righteous', cursive;
  }

  input {
    border-radius: 0;
  }
}

#latest-news {
  background: $color5;
  
  a {
    color: $color1;
  }
}
