@media (max-width: 768px) {
  .team-section .trainer-area {
    padding: 0.5em;
  }
  .courses-list .nav-tabs img {
    height: 20px;
  }
  .courses-list .nav-tabs a {
    font-size: 15px;
  }
  .training-banner {
    background: url($baseurl + "/assets/images/career-focussed-small.jpg")no-repeat 0px 0px !important;
    height: 300px !important;
    background-size: cover !important;
  }
  .courses-banner {
    background: url($baseurl + "/assets/images/courses-small.jpg")no-repeat 0px 0px !important;
    height: 300px !important;
    background-size: cover !important;
  }
  .slider-info h3 {
    font-size: 1.8em;
    line-height: 40px;
  }
  .navbar-nav {
    margin-left: 0;
    float: none;
  }
}
@media (max-width: 450px) {
  .training-banner {
    height: 250px !important;
  }
  .contact {
    padding: 1.5em;
  }
  .contact .contact-info {
    border-radius: 0.5em;
  }
  #blogs-page .container .col-sm-12 {
    padding: 0 5px;
  }
  .post-info blockquote p {
    font-size: 0.9em;
    padding: 0 2em;
  }
  .banner {
    background: url($baseurl + "/assets/images/banner-sm.jpg")no-repeat 0px 0px;
    background-size: cover;
  }
  .slider-info h3 {
    font-size: 1.1em;
  }
  .navbar-nav {
    font-size: 13px;
  }
  .elevator-pitch {
    font-size: 20px;
  }
}
@media (max-width: 360px) { 
  .courses-list .nav-tabs a {
    font-size: 13px;
  }
  .nav > li > a {
    padding: 5px;
  }
}
