.training-list {
  margin: 2em 0;
}
.training-list .card {
  padding: 0.5em;
}
.training-list .card .card-body {
  padding: 0.5em 0;
}
.training-list .card .card-content-list {
  list-style: none;
  font-size: 0.8em;
}
.training-list .card img {
  width: 100%;
}
.training-banner {
	background: url($cdnbaseurl + "career-focussed.jpg") no-repeat 0px 0px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	position: relative;
	height: 420px;
}
