/* Your Custom CSS */
header {
  background-color: #fdfdfd;
}

.course-annoucement-text {
  font-size: 2.5em;
  text-transform: capitalize;
  text-align: left;
  margin-bottom: 0.6em;
  color: #fff;
  letter-spacing: 3px;
}

.social-icons-agileits {
  margin-top: 1em;
}

.serv-inner1 .title {
  color: #111;
  font-weight: 600;
}

#about-page .banner, #trainers-page .banner {
  min-height: 180px !important;
}

.team-section .trainer-area {
  margin-bottom: 2em;
  padding: 1.5em;
}
.team-section .trainer-area:nth-child(even) {
  background-color: ghostwhite;
}
.team-section .trainer-area:nth-child(odd) {
  background-color: whitesmoke;
}
.trainer-area .current-role {
  background: black;
  color: white;
  padding: 1em;
  text-align: center;
}
.trainer-area .trainer-pic {
  background: #e6e6e6;
  text-align: center;
  padding: 2em;
}
.mb-1 {
  margin-bottom: 1em;
}

.navbar-nav>li.active,
.navbar-default .navbar-nav>li:hover,
.navbar-default .navbar-nav>li:focus {
	background: #f06292;
	color: white !important;
}

.elevator-pitch {
  padding: 1em;
  background: #f06292;
  color: white;
  text-align: center;
}

/* Training */
.training-list {
  padding: 2em 0;
}

.training-list .tab-content {
  padding: 1em;
  box-shadow: 1px 1px 4px #111;
}

.training-list .nav-tabs img {
  height: 50px;
}

@media (max-width: 430px) {
  .team-section .trainer-area {
    padding: 0.5em;
  }
}
