<div class="col-lg-4 mt-lg-0 mt-sm-5 mt-4">
  <div class="events p-3 border">
    <h3 class="blog-title mb-1">Recent Events</h3>
    <div class="events-grids">
      {% for event in site.data.events %}
        {% include blogs/event-outline.html event=event %}
      {% endfor %}
    </div>
  </div>

  <!-- Subscribe -->
  <div class="tags mt-4 p-3 border">     
    <h3 class="blog-title">Join As Readers</h3>
    <div class="social-icons-agileits">
      <ul>
        <li><a href="https://www.facebook.com/gbrgacademy"><span class="fab fa-facebook-f"></span></a></li>
        <li><a href="http://linkedin.com/company/gbrgacademy"><span class="fab fa-linkedin-in"></span></a></li>
      </ul>
    </div>
  </div>
</div>
