<div class="col-lg-4 mt-lg-0 mt-sm-5 mt-4">
  <!-- <div class="search1">
    <form class="form-inline" action="#" method="post">
      <input class="form-control rounded-0 mr-sm-2" type="search" placeholder="Search Here" aria-label="Search"
        required>
      <input class="btn bg-dark text-white rounded-0 mt-3 w-100" type="submit" value="Search">
    </form>
  </div> -->

  <!-- <div class="categories mb-4 p-4 border">
    <h3 class="blog-title ">Categories</h3>
    <ul>
      <li class="mt-3">
        <i class="fas fa-check mr-2"></i>
        <a href="single.html">At vero eos et accusamus iusto</a>
      </li>
      <li class="mt-3">
        <i class="fas fa-check mr-2"></i>
        <a href="single.html">Sed ut perspiciatis unde omnis</a>
      </li>
      <li class="mt-3">
        <i class="fas fa-check mr-2"></i>
        <a href="single.html">Accusantium doloremque lauda</a>
      </li>
      <li class="mt-3">
        <i class="fas fa-check mr-2"></i>
        <a href="single.html">Vel illum qui dolorem fugiat quo</a>
      </li>
      <li class="mt-3">
        <i class="fas fa-check mr-2"></i>
        <a href="single.html">Quis autem vel eum repreh</a>
      </li>
      <li class="mt-3">
        <i class="fas fa-check mr-2"></i>
        <a href="single.html">Neque porro quisquam est qui</a>
      </li>
    </ul>
  </div> -->

  <div class="events p-3 border">
    <h3 class="blog-title mb-1">Recent Events</h3>
    <div class="events-grids">
      {% for event in site.data.events %}
        {% include blogs/event-outline.html event=event %}
      {% endfor %}
    </div>
  </div>

  <!-- <div class="tags mt-4 p-4 border">
    <h3 class="blog-title text-dark">Recent Tags</h3>
    <ul class="mt-4">
      <li>
        <a href="about.html" class="text-dark border">dfre</a>
      </li>
      <li>
        <a href="about.html" class="text-dark border">Gahydwq</a>
      </li>
      <li>
        <a href="about.html" class="text-dark border">qeers</a>
      </li>
      <li>
        <a href="about.html" class="text-dark border">hysert</a>
      </li>
      <li>
        <a href="about.html" class="text-dark border">hjwsa</a>
      </li>
      <li>
        <a href="about.html" class="text-dark border">sumgr</a>
      </li>
      <li>
        <a href="about.html" class="text-dark border">nhyewq</a>
      </li>
      <li>
        <a href="about.html" class="text-dark border">njyra</a>
      </li>
      <li>
        <a href="about.html" class="text-dark border">laiuwa</a>
      </li>
      <li>
        <a href="about.html" class="text-dark border">loghw</a>
      </li>
      <li>
        <a href="about.html" class="text-dark border">mhyu</a>
      </li>
      <li>
        <a href="about.html" class="text-dark border">mojjs</a>
      </li>
      <li>
        <a href="about.html" class="text-dark border">suisq</a>
      </li>
      <li>
        <a href="about.html" class="text-dark border">bhyfgh</a>
      </li>
    </ul>
  </div> -->

  <!-- Social links -->
  <div class="tags mt-4 p-3 border">     
    <h3 class="blog-title">Join As Readers</h3>
    <div class="social-icons-agileits">
      <ul>
        <li><a href="https://www.facebook.com/gbrgacademy"><span class="fab fa-facebook-f"></span></a></li>
        <li><a href="http://linkedin.com/company/gbrgacademy"><span class="fab fa-linkedin-in"></span></a></li>
      </ul>
    </div>
  </div>
</div>
