---
layout: default
title: Blogs
---
<div id="blog-post-page">
  
  <div class="container my-4">
    <!-- Wrapper Start -->
    <div class="row">
      <div class="col-md-12">
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="row post-info font-italic">
          <div class="col-md-6 col-sm-12 font-italic">
            By <span class="font-weight-bold">{{ page.author }}</span> on
            <span class="font-weight-bold">{{ page.date | date: "%b %-d, %Y" }}</span>
            {% include read-time.html
                        content=content
                        bracket_start='('
                        bracket_end=')'
                        unit='min'
                        approx='true'
                        caption='read'
            %}
          </div>
          <div class="col-md-6 col-sm-12 post-tags">
            <i class="fa fa-tags"></i>
            {% for tag in page.tags %}
              {% if page.is_tags_page %}
                {% assign tag_url_base = "" %}
              {% else %}
                {% assign tag_url_base = "/blogs/tags/" %}
              {% endif %}
              <a href="{{ tag_url_base }}#{{ tag | uri_escape }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
            {% endfor %}
          </div>
        </div>
        <hr />
        <div class="post-body">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>
