<div id="featured-video" class="py-5">
  <div class="container">
    <h5 class="main-w3l-title">Featured Video</h5>
    <div class="row">
      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9 bg-shadow-lg">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LDG6tU3OstY?rel=0"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="about-top">
          <a href="https://www.youtube.com/channel/UCLCbHdMMdvzQAwV7SOja4Pg?sub_confirmation=1" target="_blank"
            class="youtube-subscribe">
            <img src="{{ site.baseurl }}/assets/images/subscribe-to-youtube.png" class="bg-shadow-lg p-4 rounded" />
          </a>
          <h3 class="subheading-wthree mt-4">For More Videos</h3>
        </div>
      </div>
    </div>
  </div>
</div>
