<div id="latest-news" class="p-4">
  <div class="container">
    <h5 class="page-main-title">Latest News</h5>
    <!-- <div class="row"> -->
    <div class="row d-flex flex-row flex-wrap justify-content-center">
      {% assign latest-news-count = site.data.latest-news.size %}

      {% for news in site.data.latest-news limit: 3 %}
        <a href="{{ news.link }}" class="btn btn-sm btn-light">
          {{ news.name }} &nbsp;&nbsp;
          &nbsp;<i class="fas fa-external-link-alt"></i>
        </a>
      {% endfor %}

      {% if latest-news-count > 3 %}
        <a href="/news" target="_blank" class="btn btn-primary">View More</a>
      {% endif %}
      <!-- </div> -->
    </div>
  </div>
</div>
